<!DOCTYPE html>
<html>
<head>
    <meta charset="=utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/css/*.css" />
</head>
<body>
    <div class="bg-info">
        <h1>@ViewBag.Title</h1>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>